﻿@model string
@{
	ViewData["Title"] = "Home Page";
}
<script>
	window.apiUrl = '@Model';
</script>
@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@
@Html.Partial("~/wwwroot/index.html")